<div style="margin-top: 6rem;">
    <br>
    <h1 class="text-center mt-5">Your order Successfully Placed</h1>
    <br>
    <div class="text-center p-3"><a href="/orders" class="btn btn-primary text-center py-3 px-5">View Orders</a></div>
</div>