<section style="margin-top: 5.8rem;" class=" firstpage">
  <div class="container">
    <h2 class="mainhead pt-3">Choose your category, start shopping...</h2>
    <br />
    <div class="row">

      <div class="categorybox col-md-3">
        <div class="mobiles p-4 ">
          <h4 style="color: rgb(240, 215, 206);">Mobiles</h4>
          <ul>
            <li>Starting from Rs.5000/-</li>
            <li>Free cash on delivery</li>
            <li>Large collections</li>
          </ul>
         <div class="text-center"> <a id="viewbutton" href="/section/mobiles" style="font-family: sans-serif; font-style: normal;" class="btn btn-primary p-3" >
         View Mobiles</a></div>
          
        </div>
      </div>
      <div class="categorybox col-md-3 ">
        <div class="laptops p-4"><h4 style="color:rgb(215, 235, 181);">
          Laptops
        </h4>
        <ul>
            <li>Starting from Rs.5000/-</li>
            <li>Free cash on delivery</li>
            <li>Large collections</li>
          </ul>
         <div class="text-center"><a id="viewbutton"  href="/section/laptops" style="font-family:sans-serif; font-style: normal;" class="btn btn-primary p-3" >
         View Laptops</a></div>
        </div>
        </div>
      <div class="categorybox col-md-3 ">
        <div class="tablets p-4">
        <h4 style="color: rgb(229, 233, 162);">
          Tablets
        </h4>
        <ul>
            <li>Starting from Rs.5000/-</li>
            <li>Free cash on delivery</li>
            <li>Large collections</li>
          </ul>
         <div class="text-center"><a id="viewbutton"  href="/section/tablets" style="font-family: sans-serif; font-style: normal;" class="btn btn-primary p-3" >
         View Tablets</a></div>
        </div>
      </div>
      <div class="categorybox col-md-3">
        <div class="smartwatches p-4">
        <h4 style="color: rgb(237, 203, 212);">
          Smartwatch
        </h4>
        <ul>
            <li>Starting from Rs.5000/-</li>
            <li>Free cash on delivery</li>
            <li>Large collections</li>
          </ul>
         <div class="text-center"><a id="viewbutton"  href="/section/smartwatch" style="font-family: sans-serif; font-style: normal;" class="btn btn-primary p-3" >
         View Smartwatch</a></div>
        </div>
        </div>
      
    </div>
  </div>
</section>